<div class="library-container">
	<%= render 'course_header_en' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Philosophy and requirements</h3>
			</div>
		</div>
		
		<div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_global_context'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Global context</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t01_en.jpg', :alt => 'Contexto global') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_philosophy'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Passivhaus Philosophy</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t02_en.jpg', :alt => 'Filosofía Passivhaus') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_requirements'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Requirements of the standard</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t03_en.jpg', :alt => 'Requisitos del estándar') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">The solutions basket</h3>
			</div>
		</div>
		
		<div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_intro_case'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Presentation of the case study</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t05.jpg', :alt => 'Presentación del caso práctico') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_orientation'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Orientation</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t06.jpg', :alt => 'Orientación') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_compactness'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Compactness</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t07.jpg', :alt => 'Compacidad') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_solar_protection'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Solar protection</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t08.jpg', :alt => 'Protección solar') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_insulation'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Thermal insulation and thermal inertia</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t09.jpg', :alt => 'Aislamiento e inercia térmica') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_thermal_bridges'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Thermal bridges</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t10.jpg', :alt => 'Puentes térmicos') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_airtightness'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Airtightness</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t11.jpg', :alt => 'Hermeticidad al paso del aire') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns end">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_ventilation'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Controlled ventilation</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t12.jpg', :alt => 'Ventilación controlada') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">The PHPP tool</h3>
			</div>
		</div>
		
		<div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_phpp1'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 1: Introduction</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t13.jpg', :alt => 'PHPP 1: Introducción') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_phpp2'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 2: Verification and climate</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t14.jpg', :alt => 'PHPP 2: Comprobación y clima') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_phpp3'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 3: U values</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t15.jpg', :alt => 'PHPP 3: Valores U') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_phpp4'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 4: Areas</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t16.jpg', :alt => 'PHPP 4: Superfícies') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_phpp5'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 5: Terrain</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t17.jpg', :alt => 'PHPP 5: Terreno') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_phpp6'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 6: Windows and shadows</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t18.jpg', :alt => 'PHPP 6: Ventanas y sombras') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_phpp7'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 7: Ventilation and heating</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t19.jpg', :alt => 'PHPP 7: Ventilación y calefacción') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns end">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_phpp8'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 8: Summer</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t20.jpg', :alt => 'PHPP 8: Verano') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Conclusion</h3>
			</div>
		</div>
		
		<div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'en_next_steps'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Next steps</span>
					  </div>
			      
			    </div>
			  <% end %>
	    </div>

  </div>
</div>