<div class="library-container">
	<%= render 'course_header_es' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Filosofía y requisitos</h3>
			</div>
		</div>
		
		<div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'contexto_global'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Contexto global</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t01.jpg', :alt => 'Contexto global') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'filosofia'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Filosofía Passivhaus</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t02.jpg', :alt => 'Filosofía Passivhaus') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'requisitos'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Requisitos del estándar</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t03.jpg', :alt => 'Requisitos del estándar') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">La cesta de soluciones</h3>
			</div>
		</div>
		
		<div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'intro_caso'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Presentación del caso práctico</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t05.jpg', :alt => 'Presentación del caso práctico') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'orientacion'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Orientación</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t06.jpg', :alt => 'Orientación') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'compacidad'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Compacidad</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t07.jpg', :alt => 'Compacidad') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'proteccion_solar'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Protección solar</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t08.jpg', :alt => 'Protección solar') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'aislamiento'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Aislamiento e inercia térmica</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t09.jpg', :alt => 'Aislamiento e inercia térmica') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'puentes_termicos'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Puentes térmicos</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t10.jpg', :alt => 'Puentes térmicos') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'hermeticidad'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Hermeticidad al paso del aire</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t11.jpg', :alt => 'Hermeticidad al paso del aire') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns end">
		    <%= link_to({controller: 'intro_passivhaus', action: 'ventilacion'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Ventilación controlada</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t12.jpg', :alt => 'Ventilación controlada') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">La herramienta PHPP</h3>
			</div>
		</div>
		
		<div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'phpp1'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 1: Introducción</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t13.jpg', :alt => 'PHPP 1: Introducción') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'phpp2'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 2: Comprobación y clima</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t14.jpg', :alt => 'PHPP 2: Comprobación y clima') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'phpp3'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 3: Valores U</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t15.jpg', :alt => 'PHPP 3: Valores U') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'phpp4'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 4: Superfícies</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t16.jpg', :alt => 'PHPP 4: Superfícies') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'phpp5'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 5: Terreno</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t17.jpg', :alt => 'PHPP 5: Terreno') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'phpp6'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 6: Ventanas y sombras</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t18.jpg', :alt => 'PHPP 6: Ventanas y sombras') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'phpp7'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 7: Ventilación y calefacción</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t19.jpg', :alt => 'PHPP 7: Ventilación y calefacción') %>
			    </div>
			  <% end %>
	    </div>
	    <div class="medium-4 columns end">
		    <%= link_to({controller: 'intro_passivhaus', action: 'phpp8'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">PHPP 8: Verano</span>
					  </div>
			      <%= image_tag('https://s3-eu-west-1.amazonaws.com/edificapro/c01/poster_c01t20.jpg', :alt => 'PHPP 8: Verano') %>
			    </div>
			  <% end %>
	    </div>
	  </div>

	  <div class="row">
			<div class="medium-12 columns">
				<h3 class="c01-menu-title">Conclusión</h3>
			</div>
		</div>
		
		<div class="row">
	    <div class="medium-4 columns">
		    <%= link_to({controller: 'intro_passivhaus', action: 'contexto_global'}, :class => 'course-link') do %>
			    <div class="card lesson-card">
			      <div class="card-divider c01-card-title-container">
					    <span class="c01-card-title">Siguientes pasos</span>
					  </div>
			      
			    </div>
			  <% end %>
	    </div>

  </div>
</div>