<div class="library-container">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="page-title"><%= @course_name %></h2>
      <p><%= t('.select_option') %></p>
    </div>
  </div>
    
  <div class="row">
    <div class="medium-12 columns">
      <% @subcourses.each do |subcourse| %>
        <% if subcourse.visible == true %>
          <%= link_to({controller: '#{subcourse.link}', action: 'index'}, :class => 'course-link') do %>
            <div class="card subcourse-card" style="width: 300px;">
              <%= image_tag(subcourse.library_image, :alt => subcourse.name) %>
              <div class="card-section">
                <p><%= subcourse.name %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
