<div class="library-container">
	<div class="c01-course-page-title">
		<h2 class="c01-course-name">CPD Online mayo 2021</h2>
	  <h3 class="c01-course-instructor">con Micheel Wassouf y Martín Amado</h3>
	</div>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-8 columns">
				
				<h3>Clases grabadas</h3>

				<div class="clases-video-container">
					<h4>Sesión 0</h4>
					<iframe src="https://player.vimeo.com/video/542579356" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<h4>Sesión 1</h4>
					<iframe src="https://player.vimeo.com/video/552278492" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
				
			</div>

			<div class="medium-4 columns">
				
				<p>Módulo online:</p>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://www.passivhaus.es/modulo-online/" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  Acceder a módulo M1
					</a>
				</div>

				<br/>
				<br/>

				<p>Diapositivas del curso:</p>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/documentacion_cpd_oct2020.zip" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  Descargar diapositivas
					</a>
				</div>

				<br/>
				<br/>

				<p>Vídeos de física de la construcción:</p>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<%= link_to clases_passivhaus_cp1xd9fis_path do %>
						<%= image_tag "video_icon.png", class:"imatge-download" %>
					  Accede a los vídeos
					<% end %>
				</div>

				<br/>
				<br/>

				
				<p>ClimateData</p>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/PHPP_ClimateData_SummerTemp.xlsx" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  ClimateData
					</a>
				</div>

				<br/>
				<br/>

				<p>Ejercicios:</p>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/K_ejercicios.zip" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  K Ejercicios
					</a>
				</div>

				<br/>
				<br/>

				<p>Plantilla pedido PHPP:</p>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/Copia+de+Plantilla+pedido+PHPP-DesignPH_2T+2021.xlsx" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  Descargar plantilla
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium-12 columns">
				

				

			</div>
		</div>

	</div>
</div>