<div class="library-container">
	<%= render 'course_header_latam' %>
	<div class="c01-course-menu-container">
		
		<div class="row">
			<div class="medium-8 columns">
				<h3 class="c01-menu-title">Índice de contenidos</h3>

				<div class="clases-temario-container">
					<table class="clases-temario" style="width:640px">
						<tr>
							<td>Imprescindible</td>
							<td style="width:40px;background-color:green"></td>
						</tr>
						<tr>
							<td>Recomendado</td>
							<td style="width:40px;background-color:yellow;"></td>
						</tr>
					</table>
					<br/>
					<table class="clases-temario" style="width:640px">
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">0</td>
							<td style="width:480px;background-color:#666;color:#fff;">Introducción a la física de la construcción</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td style="width:40px;">0.1</td>
							<td style="width:480px;"><a href="#t0-1">Conducción</a></td>
							<td style="width:100px;">07:17</td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>0.2</td>
							<td><a href="#t0-2">Radiación</a></td>
							<td>04:15</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>0.3</td>
							<td><a href="#t0-3">Convección</a></td>
							<td>04:12</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>0.4</td>
							<td><a href="#t0-4">Transmitancia térmica</a></td>
							<td>12:45</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>0.5</td>
							<td><a href="#t0-5">Balance energético</a></td>
							<td>07:50</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>0.6</td>
							<td><a href="#t0-6">Cálculo de pérdidas por transmisión</a></td>
							<td>04:00</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>0.7</td>
							<td><a href="#t0-7">Cálculo de pérdidas por ventilación</a></td>
							<td>07:14</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>0.8</td>
							<td><a href="#t0-8">Cálculo de ganancias internas</a></td>
							<td>04:24</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>0.9</td>
							<td><a href="#t0-9">Cálculo de ganancias solares</a></td>
							<td>05:51</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>0.10</td>
							<td><a href="#t0-10">Cálculo de cargas de frío y calor</a></td>
							<td>04:51</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">1.1</td>
							<td style="width:480px;background-color:#666;color:#fff;">El proyectista y el proceso de certificación</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>1.1</td>
							<td><a href="#t1-1-1">El proyectista certificado Passivhaus</a></td>
							<td>06:18</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">1.2</td>
							<td style="width:480px;background-color:#666;color:#fff;">Historial del estándar Passivhaus</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>1.2.1</td>
							<td><a href="#t1-2-1">Estándar de bajo consumo versus certificación medioambiental</a></td>
							<td>41:35</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>1.2.2</td>
							<td><a href="#t1-2-2">Los orígenes del estándar Passivhaus</a></td>
							<td>17:53</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">1.3</td>
							<td style="width:480px;background-color:#666;color:#fff;">Definición de criterios básicos</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>1.3.1</td>
							<td><a href="#t1-3-1">Filosofía del estándar Passivhaus</a></td>
							<td>13:46</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>1.3.2</td>
							<td><a href="#t1-3-2">Criterio independiente del clima</a></td>
							<td>19:56</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>1.3.3</td>
							<td><a href="#t1-3-3">Criterios directos para la certificación</a></td>
							<td>19:14</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>1.3.4</td>
							<td><a href="#t1-3-4">Criterios indirectos para la certificación</a></td>
							<td>39:57</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>1.3.5</td>
							<td><a href="#t1-3-5">Actividad de certificación del PHI</a></td>
							<td>13:20</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">2.1</td>
							<td style="width:480px;background-color:#666;color:#fff;">Ejemplos y detalles constructivos construidos en Centroeuropa, Italia y España</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>2.1.1</td>
							<td><a href="#t2-1-1">Ejemplo Alemania</a></td>
							<td>14:52</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>2.1.2</td>
							<td><a href="#t2-1-2">Ejemplo España 1</a></td>
							<td>10:48</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>2.1.3</td>
							<td><a href="#t2-1-3">Ejemplo España 2</a></td>
							<td>11:22</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>2.1.4</td>
							<td><a href="#t2-1-4">Ejemplo España 3</a></td>
							<td>09:51</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>2.1.5</td>
							<td><a href="#t2-1-5">Ejemplo España 4</a></td>
							<td>11:57</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>2.1.6</td>
							<td><a href="#t2-1-6">Ejemplo España 5</a></td>
							<td>12:53</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>2.1.7</td>
							<td><a href="#t2-1-7">Ejemplo España 6</a></td>
							<td>13:54</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>2.1.8</td>
							<td><a href="#t2-1-8">Ejemplo Italia 1</a></td>
							<td>15:54</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>2.1.9</td>
							<td><a href="#t2-1-9">Ejemplo Italia 2</a></td>
							<td>06:11</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>2.1.10</td>
							<td><a href="#t2-1-10">Ejemplo Italia 3</a></td>
							<td>07:57</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>2.1.11</td>
							<td><a href="#t2-1-11">Ejemplo Italia 4</a></td>
							<td>02:22</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">3.1</td>
							<td style="width:480px;background-color:#666;color:#fff;">Estrategias pasivas tradicionales</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>3.1.1</td>
							<td><a href="#t3-1-1">Orientación del edificio</a></td>
							<td>15:21</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>3.1.2</td>
							<td><a href="#t3-1-2">Compacidad</a></td>
							<td>07:16</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>3.1.3</td>
							<td><a href="#t3-1-3">Protección solar</a></td>
							<td>07:44</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>3.1.4</td>
							<td><a href="#t3-1-4">Ventilación natural</a></td>
							<td>16:43</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>3.1.5</td>
							<td><a href="#t3-1-5">Aislamiento e inercia térmica</a></td>
							<td>11:06</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>3.1.6</td>
							<td><a href="#t3-1-6">Estrategias singulares</a></td>
							<td>03:24</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">4.1</td>
							<td style="width:480px;background-color:#666;color:#fff;">Definición envolvente térmica</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>4.1.1</td>
							<td><a href="#t4-1-1">Regla del rotulador y ejemplos</a></td>
							<td>08:00</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">4.2</td>
							<td style="width:480px;background-color:#666;color:#fff;">Ventanas Passivhaus</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>4.2.1</td>
							<td><a href="#t4-2-1">Características físicas</a></td>
							<td>25:21</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.2.2</td>
							<td><a href="#t4-2-2">Definición ventanas Passivhaus</a></td>
							<td>12:09</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>4.2.3</td>
							<td><a href="#t4-2-3">Ejemplos ventanas PH</a></td>
							<td>16:34</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td>4.2.4</td>
							<td><a href="#t4-2-4">Ejemplos puertas PH</a></td>
							<td>06:01</td>
							<td style="border-bottom:1px solid #ccc;background-color:yellow;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">5.1</td>
							<td style="width:480px;background-color:#666;color:#fff;">Teoría Blowerdoor</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>5.1.1</td>
							<td><a href="#t5-1-1">Montaje</a></td>
							<td>20:35</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td>5.1.2</td>
							<td><a href="#t5-1-2">Búsqueda de infiltraciones</a></td>
							<td>05:17</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
						<tr>
							<td style="width:40px;background-color:#666;color:#fff;">5.2</td>
							<td style="width:480px;background-color:#666;color:#fff;">Práctica Blower Door</td>
							<td style="width:100px;background-color:#666;color:#fff;"></td>
							<td style="width:40px;border-bottom:1px solid #ccc;background-color:#666;color:#fff;"></td>
						</tr>
						<tr>
							<td>5.2.1</td>
							<td><a href="#t5-2-1">Ensayo</a></td>
							<td>16:00</td>
							<td style="border-bottom:1px solid #ccc;background-color:green;"></td>
						</tr>
					</table>

					<br/>

					

				</div>
			</div>
			<div class="medium-4 columns">
				<br/>
				<br/>
				<p>Documentación adicional:</p>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/Documentos+adicionales+online.zip" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  Descargar documentación
					</a>
				</div>
				<br/>
				<br/>
				<p>Vídeos de las clases:</p>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<%= link_to clases_passivhaus_la45i8v_path do %>
						<%= image_tag "video_icon.png", class:"imatge-download" %>
					  Accede a clases grabadas
					<% end %>
				</div>
				<br/>
				<br/>
				<p>Experiencia expertos:</p>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/experiencia_expertos.zip" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  Experiencia expertos
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="medium-12 columns">

				

				<div class="clases-video-container">
					<a id="t0-1"></a>
					<h3>T0-1 Conducción</h3>
					<iframe src="https://player.vimeo.com/video/459396406" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-2"></a>
					<h3>T0-2 Radiación</h3>
					<iframe src="https://player.vimeo.com/video/459396561" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-3"></a>
					<h3>T0-3 Convección</h3>
					<iframe src="https://player.vimeo.com/video/459396890" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-4"></a>
					<h3>T0-4 Transmitancia térmica</h3>
					<iframe src="https://player.vimeo.com/video/459396941" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-5"></a>
					<h3>T0-5 Balance energético</h3>
					<iframe src="https://player.vimeo.com/video/459472549" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-6"></a>
					<h3>T0-6 Cálculo de pérdidas por transmisión</h3>
					<iframe src="https://player.vimeo.com/video/459472715" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-7"></a>
					<h3>T0-7 Cálculo de pérdidas por ventilación</h3>
					<iframe src="https://player.vimeo.com/video/459474360" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-8"></a>
					<h3>T0-8 Cálculo de ganancias internas</h3>
					<iframe src="https://player.vimeo.com/video/459474490" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-9"></a>
					<h3>T0-9 Cálculo de ganancias solares</h3>
					<iframe src="https://player.vimeo.com/video/459475787" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t0-10"></a>
					<h3>T0-10 Cálculo de cargas de frío y calor</h3>
					<iframe src="https://player.vimeo.com/video/459475910" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t1-1-1"></a>
					<h3>T1-1.1 El proyectista certificado Passivhaus</h3>
					<div class="clases-video-amb-documentacio">
						<iframe src="https://player.vimeo.com/video/459846566" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					</div>
					<div class="clases-documentacio-video">
						<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/1-1_pregrabado_Certificado+proyectista+consultor+Passivhaus_mw-ag.pdf" download>
							<%= image_tag "pdf_icon.png", class:"imatge-download" %>
						  Documentación del tema
						</a>
					</div>
					<div class="clases-end-float"></div>
				</div>

				<div class="clases-video-container">
					<a id="t1-2-1"></a>
					<h3>T1-2.1 Estándar de bajo consumo versus certificación medioambiental</h3>
					<iframe src="https://player.vimeo.com/video/187991999" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t1-2-2"></a>
					<h3>T1-2.2 Los orígenes del estándar Passivhaus</h3>
					<div class="clases-video-amb-documentacio">
						<iframe src="https://player.vimeo.com/video/187992005" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					</div>
					<div class="clases-documentacio-video">
						<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/1-2_pregrabado_Historial+del+est%C3%A1ndar+Passivhaus_mw-ag.pdf" download>
							<%= image_tag "pdf_icon.png", class:"imatge-download" %>
						  Documentación del tema
						</a>
					</div>
					<div class="clases-end-float"></div>
				</div>

				<div class="clases-video-container">
					<a id="t1-3-1"></a>
					<h3>T1-3.1 Filosofía del estándar Passivhaus</h3>
					<div class="clases-video-amb-documentacio">
						<iframe src="https://player.vimeo.com/video/187992000" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					</div>
					<div class="clases-documentacio-video">
						<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/1-3_pregrabado_Definici%C3%B3n+criterios+basicos_mw-ag.pdf" download>
							<%= image_tag "pdf_icon.png", class:"imatge-download" %>
						  Documentación del tema
						</a>
					</div>
					<div class="clases-end-float"></div>
				</div>

				<div class="clases-video-container">
					<a id="t1-3-2"></a>
					<h3>T1-3.2 Criterio independiente del clima</h3>
					<iframe src="https://player.vimeo.com/video/187991998" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t1-3-3"></a>
					<h3>T1-3.3 Criterios directos para la certificación</h3>
					<iframe src="https://player.vimeo.com/video/187992002" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t1-3-4"></a>
					<h3>T1-3.4 Criterios indirectos para la certificación</h3>
					<iframe src="https://player.vimeo.com/video/187992006" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t1-3-5"></a>
					<h3>T1-3.5 Actividad de certificación del PHI</h3>
					<iframe src="https://player.vimeo.com/video/187991997" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1-1"></a>
					<h3>T2-1.1 Ejemplo Alemania</h3>
					<div class="clases-video-amb-documentacio">
						<iframe src="https://player.vimeo.com/video/188012897" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					</div>
					<div class="clases-documentacio-video">
						<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/2-1_Ejemplos+construidos_mw-ag.pdf" download>
							<%= image_tag "pdf_icon.png", class:"imatge-download" %>
						  Documentación del tema
						</a>
					</div>
					<div class="clases-end-float"></div>
				</div>

				<div class="clases-video-container">
					<a id="t2-1-2"></a>
					<h3>T2-1.2 Ejemplo España 1</h3>
					<iframe src="https://player.vimeo.com/video/188012898" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1-3"></a>
					<h3>T2-1.3 Ejemplo España 2</h3>
					<iframe src="https://player.vimeo.com/video/188012895" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1-4"></a>
					<h3>T2-1.4 Ejemplo España 3</h3>
					<iframe src="https://player.vimeo.com/video/188012902" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1-5"></a>
					<h3>T2-1.5 Ejemplo España 4</h3>
					<iframe src="https://player.vimeo.com/video/188012904" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1-6"></a>
					<h3>T2-1.6 Ejemplo España 5</h3>
					<iframe src="https://player.vimeo.com/video/188012909" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1-7"></a>
					<h3>T2-1.7 Ejemplo España 6</h3>
					<iframe src="https://player.vimeo.com/video/188012901" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1-8"></a>
					<h3>T2-1.8 Ejemplo Italia 1</h3>
					<iframe src="https://player.vimeo.com/video/188012900" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1-9"></a>
					<h3>T2-1.9 Ejemplo Italia 2</h3>
					<iframe src="https://player.vimeo.com/video/188012903" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1-10"></a>
					<h3>T2-1.10 Ejemplo Italia 3</h3>
					<iframe src="https://player.vimeo.com/video/188012908" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t2-1-11"></a>
					<h3>T2-1.11 Ejemplo Italia 4</h3>
					<iframe src="https://player.vimeo.com/video/188012907" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-1-1"></a>
					<h3>T3-1.1 Orientación del edificio</h3>
					<div class="clases-video-amb-documentacio">
						<iframe src="https://player.vimeo.com/video/188020017" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					</div>
					<div class="clases-documentacio-video">
						<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/3-1_Estrategias+pasivas_mw-ag.pdf" download>
							<%= image_tag "pdf_icon.png", class:"imatge-download" %>
						  Documentación del tema
						</a>
					</div>
					<div class="clases-end-float"></div>
				</div>

				<div class="clases-video-container">
					<a id="t3-1-2"></a>
					<h3>T3-1.2 Compacidad</h3>
					<iframe src="https://player.vimeo.com/video/188020021" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-1-3"></a>
					<h3>T3-1.3 Protección solar</h3>
					<iframe src="https://player.vimeo.com/video/188020020" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-1-4"></a>
					<h3>T3-1.4 Ventilación natural</h3>
					<iframe src="https://player.vimeo.com/video/188020025" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-1-5"></a>
					<h3>T3-1.5 Aislamiento e inercia térmica</h3>
					<iframe src="https://player.vimeo.com/video/188020022" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					<iframe src="https://player.vimeo.com/video/188020015" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t3-1-6"></a>
					<h3>T3-1.6 Estrategias singulares</h3>
					<iframe src="https://player.vimeo.com/video/188020014" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-1-1"></a>
					<h3>T4-1.1 Regla del rotulador y ejemplos</h3>
					<div class="clases-video-amb-documentacio">
						<iframe src="https://player.vimeo.com/video/188020019" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					</div>
					<div class="clases-documentacio-video">
						<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/4-1_Envolvente+termica_mw-ag.pdf" download>
							<%= image_tag "pdf_icon.png", class:"imatge-download" %>
						  Documentación del tema
						</a>
					</div>
					<div class="clases-end-float"></div>
				</div>

				<div class="clases-video-container">
					<a id="t4-2-1"></a>
					<h3>T4-2.1 Características físicas</h3>
					<div class="clases-video-amb-documentacio">
						<iframe src="https://player.vimeo.com/video/188020027" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
					</div>
					<div class="clases-documentacio-video">
						<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/4-2_Ventanas+Passivhaus_mw-ag.pdf" download>
							<%= image_tag "pdf_icon.png", class:"imatge-download" %>
						  Documentación del tema
						</a>
					</div>
					<div class="clases-end-float"></div>
				</div>

				<div class="clases-video-container">
					<a id="t4-2-2"></a>
					<h3>T4-2.2 Definición ventanas Passivhaus</h3>
					<iframe src="https://player.vimeo.com/video/188020023" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-2-3"></a>
					<h3>T4-2.3 Ejemplos ventanas PH</h3>
					<iframe src="https://player.vimeo.com/video/188020024" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t4-2-4"></a>
					<h3>T4-2.4 Ejemplos puertas PH</h3>
					<iframe src="https://player.vimeo.com/video/188020029" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t5-1-1"></a>
					<h3>T5-1.1 Montaje</h3>
					<iframe src="https://player.vimeo.com/video/334481136" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t5-1-2"></a>
					<h3>T5-1.2 Búsqueda de infiltraciones</h3>
					<iframe src="https://player.vimeo.com/video/334689517" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

				<div class="clases-video-container">
					<a id="t5-2-1"></a>
					<h3>T5-2.1 Ensayo</h3>
					<iframe src="https://player.vimeo.com/video/334691682" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>

			</div>
		</div>

	</div>
</div>