<div class="library-container">
	<div class="c01-course-page-title">
		<h2 class="c01-course-name">Tradesperson enero 2021</h2>
	  <h3 class="c01-course-instructor">con Micheel Wassouf y Martín Amado</h3>
	</div>
	<div class="c01-course-menu-container">
		
		<div class="row">
			
		</div>

		<div class="row">
			<div class="medium-8 columns">
				
				<h3>Clases grabadas</h3>

				
			</div>

			<div class="medium-4 columns">
				
				<p>Documentación:</p>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/documentacion_trades_nov2020.zip" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  Descargar documentación
					</a>
				</div>

				<br/>
				<br/>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/documentacion_trades_nov20.zip" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  Presentaciones Juan Postigo
					</a>
				</div>
				<br/>
				<br/>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/energiehaus+soudal+formacion+(1).pdf" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  Presentaciones Soudal
					</a>
				</div>
				<br/>
				<br/>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/Energiehaus_taller_hermeticidad_2.pdf" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  Presentaciones Proclima
					</a>
				</div>
				<br/>
				<br/>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<a href="https://edificapro.s3-eu-west-1.amazonaws.com/energiehaus/S%26P+-+Tradesperson+PH+09.12.20.pdf" download>
						<%= image_tag "download.png", class:"imatge-download" %>
					  Presentaciones S&P
					</a>
				</div>
				<br/>
				<br/>
				<div style="border: 1px solid #ccc;background-color: #eaeaea;padding: 10px">
					<%= link_to clases_passivhaus_pq4rt_path do %>
						<%= image_tag "video_icon.png", class:"imatge-download" %>
					  Vídeos de blower door
					<% end %>
				</div>
				<br/>
				<br/>
			</div>
		</div>
	</div>
</div>
