<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @promotion.course_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @promotion.code %>
</p>

<p>
  <strong>Price:</strong>
  <%= @promotion.price %>
</p>

<p>
  <strong>Single use:</strong>
  <%= @promotion.single_use %>
</p>

<p>
  <strong>Used:</strong>
  <%= @promotion.used %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
