<% content_for :stripe_scripts do %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
    
    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');
 
      var errorMessages = {
        incorrect_number: "El número de tarjeta de crédito es incorrecto.",
        invalid_number: "El número de tarjeta de crédito no es válido.",
        invalid_expiry_month: "La fecha de caducidad de la tarjeta no es válida.",
        invalid_expiry_year: "La fecha de caducidad de la tarjeta no es válida.",
        invalid_cvc: "El código de seguridad de la tarjeta no es válido.",
        expired_card: "La tarjeta ha caducado.",
        incorrect_cvc: "El código de seguridad de la tarjeta es incorrecto.",
        incorrect_zip: "El código zip no es válido.",
        card_declined: "La tarjeta ha sido declinada.",
        missing: "There is no card on a customer that is being charged.",
        processing_error: "Ha ocurrido un error mientras se procesaba la tarjeta.",
        rate_limit:  "Ha ocurrido un error al recibir peticiones repetidas con poco margen de tiempo."
      };


      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').html('<div class="alert-box alert">' + errorMessages[ response.error.code ] + '</div>');
        $form.find('.pay-button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };
  
    $(function() {
      var $form = $('#payment-form');
      $form.submit(function(event) {
        // Disable the submit button to prevent repeated clicks:
        $form.find('button').prop('disabled', true);

        // Request a token from Stripe:
        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from being submitted:
        return false;
      });
    });

  </script>
<% end %>

<div class="purchase-container">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="page-title"><%= t('.shop') %></h2>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <div class="library-course-container">
        <div class="library-course-image">
          <%= image_tag(@course.image, :alt => @course_name, :class => 'responsive-image') %>
        </div>
        <div class="library-course-text">
          <div class="library-course-title">
            <%= @course_name %>
          </div>
        </div>
        <div class="course-price">
          <%= t('.course_price') %>: <%= (@purchase.price/100).to_s %> € <br/>
          <span class="taxes"><%= t('.vat_included') %></span>
        </div>
      </div>
    </div>
    <div class="medium-7 medium-offset-1 columns">
      <% if @free_beginning == true %>
        <h3><%= t('.promotion_code_accepted') %></h3>
        <%= link_to(t('.start_course'), url_for(controller: @course.link, action: 'index'), :class => 'button', data: {no_turbolink: true}) %>
      <% else %>
      <div class="purchase-form">
        <div class="credit-card-container">
          
          <% if flash[:alert] %>
            <% flash.each do |name, msg| %>
              <% if msg.is_a?(String) %>
                <div data-alert class="alert-box <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
                  <%= content_tag :div, msg %>
                  <a href="#" class="close">&times;</a>
                </div>
              <% end %>
            <% end %>
          <% end %>

          <h3 class="pay-form-title"><%= t('.credit_card') %></h3>

          

            
          <form action="pay" method="POST" id="payment-form">

            <input type="hidden" name="purchase_id" value="<%= @purchase.id %>">

            
            <span class="payment-errors"></span>
           
         
            <div class="form-inputs">
              <div class="row">
                <div class="medium-12 columns">
                  <label for="form-card-number"><%= t('.credit_card_number') %> <%= image_tag('credit_cards.png', :alt => 'Accepted credit cards', :width => '118px', :height => '19px') %></label>
                  <input id="form-card-number" class="form-control" type="text" size="20" data-stripe="number"/>
                </div>
              </div>
              <div class="row">
                <div class="medium-4 columns">
                  <label for="form-card-code"><%= t('.security_code') %></label>
                  <input type="text" size="4" data-stripe="cvc"/>
                </div>
                <div class="medium-8 columns">
                  <%= image_tag('cc_security_code.jpg', :alt => t('.security_code'), :class => 'security-code-image') %>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <label for="form-card-code"><%= t('.caducity_date') %></label>
                </div>
              </div>
              <div class="row">
                <div class="medium-4 columns">
                  <label>
                    <span><%= t('.month') %> (MM)</span>
                    <input type="text" size="2" data-stripe="exp-month"/>
                  </label>
                  
                </div>
                <div class="medium-6 columns end">
                  <label>
                    <span><%= t('.year') %> (AAAA)</span>
                    <input type="text" size="4" data-stripe="exp-year"/>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="medium-12 columns">
                  <button type="submit" class="button"><%= t('.buy_for') %> <%= @purchase.price/100 %>€</button>
                </div>
              </div>
            </div>
          </form>
          <div class="credit-card-disclaimer">
            <p class="credit-card-disclaimer-text"><%= t('.acclaration1') %></p>
            <p class="credit-card-disclaimer-text"><%= t('.acclaration2') %></p>
          </div>
        </div>

      <% end %>
      </div>
    </div>
  </div>
</div>